bokeh
chardet
dask[complete]
ee
eemont
flake8
geemap
geopandas
IPython
ipyleaflet
ipykernel
jupyter
matplotlib
numpy
netCDF4 
pandas
parsl
glances
pyarrow
pydantic>=1.10.9
rasterio
requests
rioxarray
seaborn
shapely
skimpy
xarray
pdgraster @ git+https://github.com/PermafrostDiscoveryGateway/viz-raster.git@scalable-computing-course
black
poetry
virtualenvwrapper
