#py_cpuinfo==9.0.0
#bokeh
#bqplot==0.4.0
chardet
dask[complete]
#ee
#eemont
flake8
#folium==0.17.0
#geemap
geopandas
IPython
ipyleaflet
ipykernel
jupyter
matplotlib
numpy
netCDF4
nc-time-axis 
#numcodecs==0.13.1
pandas
#parsl
parsl==2024.3.25
gcsfs
glances
pyarrow
pydantic==1.10.9
rasterio
requests
rioxarray
seaborn
shapely
skimpy
xarray
pdgraster @ git+https://github.com/PermafrostDiscoveryGateway/viz-raster.git@log-patch
black
poetry
virtualenvwrapper
#zarr==2.18.3
zarr
