chardet
dask
ee
eemont
geemap
geopandas
IPython
ipyleaflet
jupyter
matplotlib
numpy
netCDF4     
pandas
parsl
pyarrow
rasterio
requests
rioxarray
seaborn
shapely
skimpy
xarray
pdgraster @ git+https://github.com/PermafrostDiscoveryGateway/viz-raster.git@scalable-computing-course
pdgstaging @ git+https://github.com/PermafrostDiscoveryGateway/viz-staging.git@scalable-computing-course