.stats {
    font-size: 1.75em;
    color: rgb(71, 171, 179);
}

.bulletgrid {
    font-size: 1.1em;
    color: rgb(71, 171, 179);
}

.largeicon {
    font-size: 1.75em;
    color: rgb(71, 171, 179);
}